:root {
    --blue: #1DA1F2;
    --hover-blue: #2F7AD6;
    --white: #f9f9f9;
    --black: #121212;
}

body {
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    min-height: 100vh;
}

header, footer, #text, #author, #new-quote {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
    color: var(--white);
    font-weight: bold;
}

main {
    margin-bottom: 30px;    /* Adds space between main content and footer */
}

#quote-box {
    background-color: var(--white);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

#text {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--black);
}

#author {
    font-size: 1.2rem;
    margin: 10px 0;
    color: var(--black);
}

#new-quote {
    background-color: var(--blue);
    color: var(--white);
    font-size: 1rem;
    font-weight: bold;
    margin: 15px; 
    padding: 10px;
    border-radius: 4px;
    border: 1px solid var(--blue);
}

#tweet-quote {
    background-color: var(--blue);
    color: var(--white);
    font-size: 1.2rem;
    margin: 10px;
    padding: 10px 15px;
    border-radius: 5px;  
}

#new-quote:hover, #tweet-quote:hover {
    background-color: var(--hover-blue);    /* Slightly darker on hover */
    cursor: pointer;
}

footer {
    font-size: 15px;
    text-align: center;
    color: var(--white);
}

footer a {
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
}   

footer a:hover {
    color: var(--hover-blue);   /* Change link color on hover */
}